:{$PORT}
@websockets {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/vm*
}
handle @websockets {
        reverse_proxy * localhost:61080
}
@websockets-tr {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/tr*
}
handle @websockets-tr {
        reverse_proxy * localhost:61082
}
